.display-none {
    display: none;
}

.email {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.email .side-bar-container .compose-mail-btn {
    border: none;
    width: 110px;
    height: 35px;
    border-radius: 999px;
    margin-inline-start: 25px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 3px #00000099;
    transition: .1s;
}

.email .side-bar-container .compose-mail-btn:hover {
    box-shadow: 2px 2px 7px #00000087;
}

.email .emails-list-container .email-preview {
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(165, 165, 165);
    height: 50px;
}

.email .emails-list-container .email-preview .unread {
    font-weight: bolder;
    font-size: 1.1rem;
}

.email .emails-list-container .email-preview:hover {
    box-shadow: 0px 2px 3px #000000e6;
}

.email .emails-list-container table {
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px 20px;
    /* width: 90vw; */
}

.email .emails-list-container table td {
    min-height: 50px;
}

.email .emails-list-container .th-unread {
    padding-left: 10px;
}

.email .emails-list-container .sort {
    cursor: pointer;
}

.email .sort-active {
    color: #e65656;
}

.email .emails-list-container .td-from-to {
    width: 12vw;
}

.email .emails-list-container .td-subject {
    width: 31vw;
}

.email .emails-list-container .td-body {
    width: 40vw;
}

.email .emails-list-container .td-date {
    width: 7vw;
}

.email .emails-list-container .td-btns {
    display: flex;
    align-items: center;
}

.email .emails-list-container .td-btns svg {
    height: 25px;
    margin: 0 10px;
    color: rgb(46, 46, 46);
}

.email .emails-list-container .send-to-note-icon:hover {
    color: #e6e156;
}

.email .emails-list-container .read-unread-icon:hover {
    color: #56e674;
}

.email .emails-list-container .delete-icon:hover {
    color: #e65656;
}

.email .mail-window-container {
    background-color: white;
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 1px solid rgb(173, 173, 173);
}
.email .mail-expanded {
    z-index: 2;
    background-color: white;
    box-shadow: 6px 5px 7px #00000087;
    position: fixed;
    top: 200px;
    right: 0;
    left: 0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 630px;
    border: 1px solid rgb(173, 173, 173);
}

.email .mail-expanded textarea {
    margin-bottom: -40px;
}

.email .mail-expanded p {
    margin-inline-start: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

.email .mail-expanded p span {
    word-spacing: 6px;
    margin-inline-start: 5px;
}



.email .mail-window-container form {
    display: flex;
    flex-direction: column;
}

.email .mail-window-container .mail-window-header {
    background-color: rgb(53, 53, 53);
    padding-inline-start: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: space-between;
}

.email .mail-window-container .mail-window-header .close-mail-window {
    cursor: pointer;
    padding-inline-end: 20px;
}

.email .mail-window-container form input {
    height: 30px;
    padding-inline-start: 20px;
}

.email .mail-window-container form textarea {
    border: none;
    border-bottom: 1px solid rgb(144, 144, 144);
    resize: none;
    padding: 20px;
}

.email .mail-window-container .body-input {
    height: 450px;
}

.email .mail-window-container .mail-expand-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.email .mail-window-container .mail-expand-options svg {
    margin-top: 8px;
    margin-top: 33px;
    margin-inline-end: 30px;
    height: 40px;
    color: rgb(46, 46, 46);
    cursor: pointer;
}

.email .mail-window-container .email-expand-check-unread path:hover {
    color: #56e674;
}

.email .mail-window-container .mail-expand-delete-btn path:hover {
    color: #e65656;
}

.email .mail-window-container .send-to-note-icon path:hover {
    color: #E6E156;
}

.email .mail-window-container .submit {
    cursor: pointer;
    border: none;
    background-color: rgb(53, 53, 53);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0px -2px 4px 0px #00000094;
}

.email-status-filter {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin:0 35px;
}

.email-status-filter input {
    cursor: pointer;
    margin: 0 10px;
}