/* General & Layout */

.keep {
    font-family: 'Comic Neue', cursive;
    margin-left: 20px;
    margin-right: 20px;
}

.keep .screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
}

.keep.edit-mode .screen {
    visibility: visible;
    opacity: 1;
}

.keep .container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: unset;
}

/* BASICS */

.keep h4, h2 {
    margin: 0;
}

.keep h1 span {
    color: #e6e155;
}

.keep a {
    text-decoration: none;
}

/* Notes Gallery */

.keep .notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding-top: 10px;
    column-count: 4;
    text-align: center;
    width: 95%;
    margin-bottom: 15px; */
}

.keep .note-preview {
    background-color: lightgoldenrodyellow;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
}

.keep .note-preview:hover {
    box-shadow: 0px 0px 5px 10px rgba(70, 71, 45, 1);
}

.keep .note-actions {
    margin-top: 10px
}

.keep .note-to-mail {
    margin-left: 10px
}

.keep .note-preview .note-header {
    margin: 5px;
}


/* Add note */

.keep .add-note img {
    width: 50px;
    cursor: pointer;
    margin: 20px;
    opacity: 0.2;
}

.keep .add-note img.active {
    cursor: pointer;
    opacity: 1;
}

.keep .add-note img:hover {
    opacity: 0.7;
}

.keep .add-note-form input {
    font-size: 1rem;
    width: 220px;
    margin: 10px;
    border-radius: 5px;
    padding: 4px;
}

.keep .add-note-form .todo-input {
    width: 130px;
}

.keep form label {
    font-weight: 800;
    font-size: 1.3rem;
}

/* Buttons */

.keep .btn {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1rem;
    color: black;
    background-color: #eae519e0;
}

.keep .btn:hover {
    opacity: 0.7;
}

.keep .btn.save-note {
    font-weight: 1000;
    background-color: #fcfb6afa;
}

/* Edit note modal */

.keep .edit-note {
    position: fixed;
    display: block;
    z-index: 2;
    border: 3px solid black;
    background-color: #eedfa7;
    border-radius: 10px;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    left: 0;
    right: 0;
    padding: 15px;
    box-shadow: 2px 3px 15px 13px rgba(0, 0, 0, 0.75);
}

/* To-Dos list */

.keep .add-todo {
    background-color: #eae519e0;
    padding: 1.7px;
    font-size: 1.05rem;
    margin-left: 10px;
    margin-right: 10px;
}

.keep .todo-done {
    color: brown;
    text-decoration: line-through;
}

.keep .remove-todo {
    padding: 3px;
    font-size: 1.05rem;
    margin-left: 10px;
    margin-right: 10px;
}

.keep .update-todo {
    padding: 3px;
    font-size: 1.05rem;
}

.keep .todo-list li {
    margin: 4px;
    width: 350px
}

.keep .todo-list .todo-item {
    cursor: pointer;
    font-size: 1.2rem;
}

/* Note Preview */

.keep .note-pin {
    width: 30px;
    transition: 0.3s;
}

.keep .note-pin:hover {
    width: 35px
}

.keep .note-img img {
    width: 200px
}

.keep .note-movie {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.keep .note-movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

/* Color Picker Component*/

.keep .color-picker .color-item {
    padding: 15px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.keep .color-picker .color-item.active {
    border: 2px solid brown;
}

.keep .color-picker .color-item:hover {
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.25);
}

.keep .color-picker .color-item.color0 {
    background-color: lightgoldenrodyellow;
}

.keep .color-picker .color-item.color1 {
    background-color: #EAE519;
}

.keep .color-picker .color-item.color2 {
    background-color: #4A4737;
}

.keep .color-picker .color-item.color3 {
    background-color: #AFAC99;
}

.keep .color-picker .color-item.color4 {
    background-color: #00FFE2;
}

.keep .color-picker .color-item.color5 {
    background-color: #00CAAB;
}

.keep .color-picker .color-item.white {
    background-color: white;
}

.keep .color-picker .color-item.black {
    background-color: black;
}

.keep .icon {
    width: 30px;
    cursor: pointer;
    opacity: 0.6;
    margin-right: 10px;
}

.keep .icon.active {
    opacity: 1;
}

/* Media query */

@media (max-width: 740px) {
    .keep form {
        flex-direction: column;
    }
    .keep .todos-form form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .keep .add-note-form .todo-input {
        margin: 3px;
        width: 100px;
    }
    .keep .add-todo {
        margin: 4px;
    }
    .keep .todo-list li {
        width: 270px
    }
    .keep .edit-note {
        text-align: left;
        top: 10%;
        width: 350px;
    }
}