.keep .notes-list {
    display: flex;
}

.keep .note-preview {
    background-color: lightgoldenrodyellow;
    width: 200px;
    margin:10px;
    border:1px solid black;
    cursor: pointer;

}


.keep .btn {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black

}

.keep .add-todo {
    background-color: lightgreen;
    width: 70px;
}



