.keep .container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: unset;
    
}

.keep .notes-list {
    display: flex;
    /* padding-top: 10px;
    column-count: 4;
    text-align: center;
    width: 95%;
    margin-bottom: 15px; */
}

.keep .note-preview {
    background-color: lightgoldenrodyellow;
    margin:10px;
    padding:10px;
    border:1px solid black;
    cursor: pointer;
    border-radius: 15px;
    //width: 100%;
}

/* Header */

.keep h1 span {
    color:#e6e155;
}

/* Add note */


.keep .add-note img {
    width: 30px;
    cursor: pointer;
    margin: 20px;

}

.keep .add-note img.active{
    width: 50px;
    cursor: pointer;
    background-color: goldenrod;
    opacity: 0.2;
}
.keep .add-note img:hover {
    opacity: 0.7;
}







.keep .btn {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    background-color: goldenrod;

}

.keep .add-todo {
    background-color: lightgreen;
    padding: 3px;
    margin-left: 10px;
}


.keep .todo-done {
    color: brown;
    text-decoration: line-through;
}

.keep .edit-note {
    border: 1px solid black;
    width: 700px;
    background-color: burlywood;
}

.keep .close-edit-note {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px;
    background-color: gray;
}


.keep .remove-todo {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px;
    background-color: red;

}

.keep .update-todo {
    /* padding: 1px; */
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px;
    background-color: green;

}

.keep .todo-list li {
    margin: 10px;
}

.keep .todo-list .todo-item {
    cursor: pointer;
}


.keep .note-pin {
    width:30px
}

.keep .note-img img {
    width:100px
}


.keep .note-movie {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
}

.keep .note-movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}