@import url("keepApp.css");
@import url("bookApp.css");
@import url("emailApp.css");
@font-face {
    font-family: anton;
    src: url(../assets/fonts/Anton-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/* BASICS */

html {
    font-size: 1rem;
}

body {
    margin: 0;
}

.home-container {
    width: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}

.home-container img {
    width: 600px;
    transition: .2s;
}

.home-main-nav:hover {
    box-shadow: inset 0px 2px #56e674, inset 0px -2px #56e674;
}

.mail-main-nav:hover {
    box-shadow: inset 0px 2px #e65656, inset 0px -2px #e65656;
}

.keep-main-nav:hover {
    box-shadow: inset 0px 2px #E6E156, inset 0px -2px #E6E156;
}

.books-main-nav:hover {
    box-shadow: inset 0px 2px #56CDE6, inset 0px -2px #56CDE6;
}

.nav-bar-container {
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.nav-bar-container .nav-bar-dynamic {
    display: flex;
    align-items: center;
}

.nav-bar-container .logo {
    cursor: pointer;
    width: 300px;
    margin-inline-end: 25px;
    /* border-right: 1px solid black; */
}

.nav-bar-container .home-page-title h1 {
    font-family: anton;
    margin: 0px 0px;
    font-size: 2rem;
    font-weight: bolder;
    word-spacing: 15px;
}

.nav-bar-container .home-page-title span {
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px #00000077;
}

.nav-bar-container .home-page-title .main-span1 {
    color: #56E674;
}

.nav-bar-container .home-page-title .main-span2 {
    color: #E65656;
}

.nav-bar-container .home-page-title .main-span3 {
    color: #E6E156;
}

.nav-bar-container .home-page-title .main-span4 {
    color: #56CDE6;
}

.nav-bar-container .home-page-title .main-span5 {
    color: #56E674;
}

.nav-bar-container .home-page-title .main-span6 {
    color: #E65656;
}

.nav-bar-container .search-bar-container {
    display: flex;
    width: 100%;
    align-items: center;
    /* border: 2px solid black; */
}

.search-bar-container .search-bar {
    font-size: 1rem;
    font-weight: normal;
    padding-inline-start: 40px;
    margin-inline-end: 40px;
    width: 40vw;
    min-width: 300px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: #e0e4e6;
    display: flex;
}

.search-bar-container img {
    height: 20px;
    position: relative;
    left: 30px;
    margin-inline-start: -15px;
}

.nav-bar-container .navlinks-toggle {
    height: 40px;
}

.nav-bar-container .nav-links-toggle-wrapper {
    cursor: pointer;
    margin-inline-end: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.nav-active {
    background-color: #0000002f;
    border-radius: 999px;
}

.nav-bar-container .nav-links-toggle-wrapper:hover {
    background-color: #00000046;
    border-radius: 999px;
}

.nav-bar-container .nav-links {
    position: absolute;
    padding: 5px;
    width: 320px;
    right: 5px;
    top: 90px;
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 1px 2px 3px #00000066;
    background-color: white;
}

.nav-bar-container .nav-links img {
    cursor: pointer;
    width: 150px;
    transition: .2s;
    /* border-radius: 5px; */
}

/* .nav-bar-container .nav-links img:hover {
    background-color: rgb(207, 207, 207);
} */

/* General helpers */

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* flex-helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.flex-start {
    justify-content: flex-start;
}

.flex.flex-end {
    justify-content: flex-end;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-grow {
    flex-grow: 1;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}